[submodule "3rdparty/bx"]
	path = 3rdparty/bx
	url = https://github.com/bkaradzic/bx.git
[submodule "3rdparty/bimg"]
	path = 3rdparty/bimg
	url = https://github.com/bkaradzic/bimg.git
[submodule "3rdparty/bgfx"]
	path = 3rdparty/bgfx
	url = https://github.com/bkaradzic/bgfx.git
[submodule "src/libs/entcosy"]
	path = src/libs/entcosy
	url = git@github.com:euiko/entcosy.git
[submodule "3rdparty/cereal"]
	path = 3rdparty/cereal
	url = https://github.com/USCiLab/cereal.git
[submodule "3rdparty/imgui"]
	path = 3rdparty/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "3rdparty/imgui-sdl"]
	path = 3rdparty/imgui-sdl
	url = https://github.com/Tyyppi77/imgui_sdl.git
[submodule "3rdparty/libfreetype2"]
	path = 3rdparty/libfreetype2
	url = https://github.com/servo/libfreetype2.git
[submodule "3rdparty/sdl2"]
	path = 3rdparty/sdl2
	url = https://github.com/spurious/SDL-mirror.git
